<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
<div ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
    
    <a href="index.html" class = "menu">Home</a>
    <a href="viewproducts.html" ng-if="custCtrl.signedIn" class = "menu">Browse Products</a>
    <a href="cart.html" ng-if="custCtrl.signedIn" class = "menu">View Cart</a>
    <a href="signin.html" ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()" class = "menu">Sign Out</a>
    <a href="signin.html" ng-if="!custCtrl.signedIn" class = "menu">Sign In</a>
    <a id="welcome">{{custCtrl.welcome}}</a>
</div>

