<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Sign In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <div ng-include="'menu.html'" ></div>
        </div>
        <div class = "header">
            <h1>Sign In</h1>
        </div>
        <div class = "signInForm">
            <p>{{custCtrl.signInMessage}}</p>
            <form ng-submit="custCtrl.signIn(username, password)">
                <fieldset>

                    <legend>Account Details</legend>



                    <td><label for="username">Username:</label></td>
                    <td><input id = "username" type="text" ng-model="username" required></td>

                    <td> <label for="password">Password:</label></td>
                    <td> <input id = "password" type="password" ng-model="password" required></td>


                    <td><button type="submit">Sign In</button></td>




                </fieldset>
            </form>
        </div>

        <p>If you don't have an account then you can <a href="createaccount.html">create one.</a></p>
    </body>
</html>
